[Unit]
Description=ePlantalk E-Ink Display Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/efig/ePlantalk/display
ExecStart=/usr/bin/python3 /home/efig/ePlantalk/display/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
